
.Sultan-Container{
position: absolute; top: 10%; left: 38%;
}

.Sultan-Heading{
position: relative; left: 10%;
}

.Sultan-Media-Container{
border: 2px solid rgba(0, 0, 0, 0);
width: 700px;
position: relative; left: -310px;top: -45px;
display: flex;
justify-content: space-between;
}

.Sultan-Social-Media-Logo{
    height: 70px; width: 100px;
}
.Sultan-line{
    border-bottom: 2px solid brown;
    position: absolute; top: 19%;   left:25% ;
    width: 50%;
}

.Sultan-Boy-Logo{
    height: 60px; width: 60px;
    position: relative; left: 25%;
}

.Sultan-Image{
    box-shadow: 3px 3px 3px black;
    width: 350px; height: 190px;
    position: relative; top: -30px; left: -32px;
}

.Sultan-Para-Container{
width: 700px;
position: relative; left: -185px;
}

.Sultan-Back-Button{
    padding: 10px;
    color:black;
    background-color: azure;
    border-radius: 20px;
    position: relative; left: -470px; top: -50px;
    cursor: pointer;
}

.Sultan-Image-Name{
    color: rgb(255,0,187);
    position: absolute; left: 13%; top: 47%;
    font-size: 18px;
}

.Sultan-Date{
    position:relative; top: 10px; left: -120px;
}
.Sultan-Dimitry{
    position:relative; top: -9px; left: 90px;
}

@media only screen and (max-width:856px){

.Sultan-Heading{
position: relative; left: -120px;
}

.Sultan-line{
position: relative; left: 11px; top: 110px;
width: 100px;
}

.Sultan-Media-Container{
    position: relative; top: 10px; left: -290px;
}

.Sultan-Social-Media-Logo{
    position: relative; left: -420px; top: -65px;
}

.Sultan-Image{
    position: relative; left:-100px; top: 16px;
    height: 200px;
    width: 300px;
}

.Sultan-Image-Name{
    position: relative; left: -52px; top: 20px;
}

.Sultan-Para-Container{
    position: relative; left: -100px; top: 13px;
    width: 280px;
}

.Sultan-Back-Button{
    position: relative; left: -110px; top: 1230px;
}

}